:root {
  --blue: #002772;
  --pink: #720060;
  --white: #FFFFFF;
  --white: #FFFFFF;
  --bg-women: #FDE2FF;
  --bg-men: #D6E6FF;
  --bg-neither: #D8D7D7;
  --text-desc: #1E1E1E;
  --text-title: #3F3F3F;

}

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0 auto ;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* conditional class */
.colorWomen {
  color: var(--pink)
}
.colorMen {
  color: var(--blue);
}
.colorNeither {
  color: var(--text-title);
}
.bgWomen {
  background-color: var(--bg-women);
}
.bgMen {
  background-color: var(--bg-men);
}
.bgPattern {
  background-image: url(../bg-pattern.svg);
}
.bgNeither {
  background-color: var(--bg-neither);
}
.sadFace {
  background-image: url(../sad-face.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.buttonMen {
  background-color: var(--blue);
}
.buttonWomen {
  background-color: var(--pink);
}
/* ----------------------------------------------------- */

/* Loader style */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

